export(aggregateSummaryPotsData)
export(calcCrabFisheryQuarterFromMonth)
export(calcCrabFisheryYear)
export(calcEffort.ByStatArea)
export(calcSizeFreqs.FromDetailPots)
export(calcSizeFreqs.FromDetailPots.BtStatArea)
export(compareSizeFreqs.ByYear)
export(compareSizeFreqs.ByYear.LongFormat)
export(createStatAreas)
export(parseStatAreas)
export(plotMaps.SummaryPotsData)
export(plotObservedPots.histograms)
export(rebinSizeFreqs.NewFormat)
export(rebinSizeFreqs.OldFormat)
import(grDevices)
import(lattice)
import(sqldf)
importFrom(wtsGMT,createPDF.fromPS)
importFrom(wtsGMT,plotMap.CSV)
importFrom(wtsUtilities,addTransparency)
importFrom(wtsUtilities,calcPercentNonzero)
importFrom(wtsUtilities,getCSV)
importFrom(wtsUtilities,parseMonths)
importFrom(wtsUtilities,parseYears)
importFrom(wtsUtilities,selectFile)
